<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>
<body>
<div>나카나카 홈페이지</div>
<div th:if="${session.mvo} == null">
    <a href="membership">회원가입</a>
    <a href="login">로그인</a>
    <button type="button" th:onclick="|location.href='@{/shirt}'|">셔츠 추천</button>
</div>
<div th:if="${session.mvo} != null">
    <img th:src="|/images/${session.mvo['memProfile']}|" width="100" height="100"/>
    <a href="myPage">마이페이지</a>
    <a href="logout">로그아웃</a>
</div>

</body>
</html>